/* Шрифт сторінки */
body {
    font-family: Arial, sans-serif; /* Основний шрифт */
}

/* Заголовок сторінки */
h1 {
    text-align: center; /* Центрування тексту */
    color: #333; /* Темний сірий колір */
}

/* Контейнер */
.container {
    margin-top: 50px; /* Відступ зверху */
}
